<link rel="stylesheet" href="/styles/cryptidStyles.css" media="screen" title="no title" charset="utf-8">
<title>Cryptid Viewer</title>

<div class="top-container">
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <!--heading of cryptid page-->
      <div class="card mt-4 headerBox">
        <div class="card-body">
          <div class="row">
            <!--erase the placeholder text in this row in the final product-->
            <div class="col-3">
              <p>
                <strong>Cryptid No.</strong> {{results.itemNum}}</p>
            </div>
            <div class="col-4">
              <p>
                <strong>Cryptid Name</strong>: {{results.name}}</p>
            </div>
            <div class="col-5 cryptidClass">
              <p>
                <strong>Cryptid Class</strong>: {{results.objClass}}</p>
            </div>
          </div>
        </div>
      </div>
      <!--box where we put the image-->
      <div class="card mt-4 imageBox">
        <div class="card-body">
          <div class = "row">
            <div class="col-1">
              <a href ="{{prev}}"><i class="fas fa-arrow-left"></i></a>
            </div>
            <div class="col-10">
              <img src="{{results.imgUrl}}"alt="no recorded image" class ="resultImage"/>
            </div>
            <div class="col-1">
              <a href ="{{next}}"><i class="fas fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-4 descriptionBox">
        <div class="card-body">
          <p>
            <strong>Description:</strong> {{results.description}}</p>
        </div>
      </div>
      <div class="card mt-4 scpBox">
        <div class="card-body">
          <p>
            <strong>Containment Procedures:</strong> {{results.procedures}}</p>
        </div>
      </div>
      <div class="card mt-4 forumBox">
        <div class="card-body">
          <p>
            <strong>Discussion</strong>
            <br>
            (click to see comments)
          </p>
          <ul>
            {{#each results.Posts}}
            <li><strong>{{this.author}}</strong>: {{this.body}} <i>{{this.createdAt}}</i></li>
            {{/each}}
          </ul>
        </div>
      </div>

      <!--footer(geolocation, map)-->
      <div class="card mt-4 footerBox">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="card geolocationBox footerButtons">
                <a href="/">
                <div class="card-body">
                
                    <strong id=>Home</strong>
                  
                   
                </div>
                </a>

              </div>
            </div>

            <div class="col-2">
              <a href="../"><img src="../img/logo.png" alt="logo" class ="logo"></a>
              <a href="post/add/{{results.id}}"></a>
            </div>
            
            <div class="col-5">
              <div class="card mapBox footerButtons">
                <a href="/post/add/{{results.id}}">
                <div class="card-body">
              
                     
                    <strong id="Post">Post</strong>
                     
                </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="/js/cryptidView.js"></script>
<script>



</script>